@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

:root {
  /* FONTS */
  --main-font: "Montserrat", serif;
  --second-font: "Poppins", serif;
  /* FOMNT SIZE */
  --h1-fs: clamp(16px, 10vw, 6rem);
  --links-fs: clamp(8px, 3vw, 1.4rem);
  /* COLORS */
  --Second-color: rgb(164, 131, 99);
  --font-color: rgb(229, 165, 81);
  --hover-bg-color: brown;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  padding: 0 24px;
  background-color: rgb(164, 131, 99);
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

nav a {
  text-decoration: none;
  font-family: var(--second-font);
  font-weight: 500;
  color: var(--font-color);
  font-size: var(--links-fs);
  /* cursor: url(./seamusboop\ 32x32.png), pointer; */
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  display: block;
  padding: 15px 15px;
  /* z-index: 1; */
}

nav a::before {
  position: absolute;
  content: "";
  display: block;
  background-color: var(--hover-bg-color);
  width: 100%;
  height: 10px;
  left: -100%;
  top: 0px;
  transition: all 2s;
  z-index: 99;
}

nav a:hover::before {
  left: 100%;
}

nav a::after {
  position: absolute;
  content: "";
  background-color: var(--hover-bg-color);
  width: 100%;
  height: 10px;
  right: -100%;
  top: 90%;
  background-color: var(--font-color);
  transition: all 2s;
}

nav a:hover::after {
  right: 100%;
}

.nav-menu li {
  list-style: none;
  margin: 10px 0;
}

.hamburger {
  display: none;
}

.bar {
  width: 20px;
  height: 3px;
  display: none;
  background-color: var(--font-color);
  margin: 5px auto;
  transition: all 0.3s ease-in;
  color: #fff;
  display: block;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

h1 {
  text-align: center;
  font-family: var(--main-font);
  color: var(--font-color);
  font-weight: 700;
  font-size: var(--h1-fs);
  text-shadow: 6px 5px 2px var(--Second-color);
}

span img {
  display: inline-block;
  height: 20px;
  background-color: green;
}

.hero img {
  width: 40%;
  height: auto;
  aspect-ratio: 1/1;
}

.button {
  display: grid;
  place-content: center;
  /* margin-top: 20px; */
  height: 20vh;
}

.about-btn {
  display: inline-block;
  text-decoration: none;
  color: rgb(229, 165, 81);
  font-family: var(--main-font);
  font-size: 1.4rem;
  font-weight: 500;
  background-color: var(--Second-color);
  padding: 20px 20px;
  border-radius: 10px 5px 10px 5px;
}

.about-btn:is(:hover, :focus) {
  background-color: brown;
  transition: all 3s;
}

/* Media Queries */

@media (max-width: 575px) {
  .nav-menu {
    position: fixed;
    top: 100px;
    left: 100%;
    width: 50%;
    text-align: center;
    flex-direction: column;
    background-color: rgba(80, 47, 7, 0.7);
    transition: all 0.3s ease-in;
    z-index: 1;
  }

  .nav-menu a {
    display: block;
    position: relative;
    cursor: url(./seamusboop\ 32x32.png), pointer;
  }

  .nav-menu a::before {
    position: absolute;
    display: block;
    left: -100%;
    top: 0;
    height: 10px;
    color: var(--font-color);
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
  }
  .nav-menu.active {
    left: 50%;
  }

  .hero img {
    width: 60%;
    height: auto;
  }

  .button {
    margin-top: 10px;
  }

  .about-btn {
    cursor: url(./seamusboop\ 32x32.png), pointer;
  }

  .nav-links::before {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@keyframes eyes {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 50%;
  }

  100% {
    opacity: 1;
  }
}
